$bg-color: #2b2b2b;
$hov-color: #ffffff;
$txt-color: #ffffff;
$ph-color: rgb(235, 235, 230, 0.6);
$nav-bg-color: linear-gradient(180deg, rgba(0,0,0,0.7035189075630253) 0%, rgba(0,0,0,0) 100%);
$bg-color-2: #191919;
$txt-color-2: #808080;