<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   <!--Fonts-->
   <link rel="preconnect" href="https://fonts.gstatic.com"> 
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

   <!--Icons-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="./../assets/css/style.css">

    <!--SEO-->
    <meta name="author" content="Ayelen Barrale. Web Development"/>
    <meta name="copyright" content="Rimoldi Santiago 2021"/>
    <meta name="keywords" content="graphic designer, photo manipulation portfolio, branding design, graphic design, photoshop artist">
    <meta name="description" content="Graphic design portfolio where you can check out Santiago's latest works and works in progress. In this page, you can contact him.">
    <link rel="shortcut icon" href="../Desafio-07-sass/img/Rimoldi_Graphic_Designer.ico" type="image/x-icon">
    <title>Contact Santiago Rimoldi, graphic designer and photoshop artist</title>
    <!--Protocolo Open Graph-->
   <meta property= "og-title" content="Rimoldi's Graphic Design">
   <meta property= "og-description" content="Graphic Designer especialize in Photo Manipulation and Branding Design. Check out his latest works.">
   <meta property= "og-image" content= "https://www.behance.net/gallery/72176955/The-Lighthouse" > <!--puse esta url como muestra pero luego cambiaré a la que corresponde-->
   <meta property= "og-url" content= "https://santiagorimoldi.com" >
   <meta property= "og-type" content= "website" >
   <meta property= "og-locale" content= "en_EN" >
  </head>
  <body>
      <!--Inicio de header-->
    <header>
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="./../index.html"><img src="./../img/Logo_Rimoldi.svg" alt="Rimoldi design' logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="./../views/works.html">Works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./../views/wip.html">WIP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./../views/about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="./../views/contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
   <!--Fin de Header-->

    <!--Inicio de Form Contacto-->
    <section>
      <div class="contact-container">
        <div class="contact-item item-1">
          <h3 class="h3-text">Don't be shy, say hi!</h3>
          <h2 class="h1-text">Contact me</h2>
          <div class="line"></div>
        </div>
        <div class="contact-item item-form">
          <p class="p-text">To contact me for project enquiries, please fill this contact form</p>
        <div>
      </div>
  <!--formulario de contacto-->
      <div>
        <form action="SERVER" method="POST" class="form">
          <div class="form-row">
            <label for="full-name"></label>
            <input type="name" name="name" id="full-name" required placeholder="Name">
            <label for="email"></label>
            <input type="email" name="email" id="email" required placeholder="Email Address">
            <label for="subject"></label>
            <input type="subject" name="subject" id="subject" required placeholder="Subject">
            <label for="mensaje"></label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="8" placeholder="Message"></textarea>
            <button type="submit">Send</button>
          </div>
        </form>
      </div>  
    </section>
  <!--Fin de Form Contacto-->

   <!--Inicio de Footer-->
   <footer class="footer-container">
        <div class="footer-item-1">
            <h4 class="h4-text">2021 | Santiago Rimoldi | All rights reserved</h4>
        </div>
        <nav class="footer-item">
            <div class="footer-item-item">
                <a href="https://www.behance.net/rimoldi" target="_blank"><i class="fab fa-behance"></i></a>
            </div>
            <div class="footer-item-item">
                <a href="https://www.linkedin.com/in/rimoldi/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer-item-item">
                <a href="https://vimeo.com/rimoldi" target="_blank"><i class="fab fa-vimeo-v"></i></a>
            </div>
            <div class="footer-item-item">
                <a href="https://www.instagram.com/rimoldi.design/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </nav>
</footer>
<!--Fin de Footer-->

      <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    --> 
    <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

  </body>
</html>