/* Base */
.form .form-row {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}

.gridwork {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.work-mainframe .workbanner-container, .work-mainframe .workposter-container, .video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.work-mainframe .workbanner-container iframe, .work-mainframe .workposter-container iframe, .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.line {
  width: 400px;
  height: 2px;
  border-radius: 2px;
  background-color: #808080;
  margin-top: 5%;
}

.intro-container {
  margin: 10% 18% 6% 18%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #2b2b2b;
}

/* Components */
/* navbar */
.navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7035189076) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0.5% 10%;
}
.navbar img {
  width: 50%;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

/* Footer */
.footer-container {
  background-color: #191919;
  display: grid;
  grid-template-columns: 10fr 2fr;
  padding: 36px 190px;
  place-content: center;
  /*display: grid;
  grid-template-columns: 10fr 2fr;
  padding: 5%;
  place-content: center;*/
}
.footer-container .footer-item-1 .h4-text {
  font-size: 16px;
}

.footer-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background: transparent;
}
.footer-item i:hover {
  color: #808080;
  cursor: pointer;
}
.footer-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
.footer-item a:hover {
  color: #808080;
  /*transform: scale(1.3);
  transition: all 1s;*/
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Pages */
/* HOME */
/* About home */
.about-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  margin: 16%;
}
.about-container .item-1 {
  padding-top: 2%;
}
.about-container .item-1 .ab-h3-text {
  font-size: 34px;
  font-weight: 500;
  color: #808080;
}

/* Work home */
.work-container {
  background-color: #191919;
  padding-bottom: 10%;
}

.work-row {
  padding: 5% 1%;
}
.work-row .nav-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background-color: transparent;
  outline: 0;
}
.work-row .nav-item:hover {
  color: #808080;
  /*transform: scale(1.3);
  transition: all 1s;*/
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.work-row .nav-item:focus {
  text-decoration: none;
  outline: 0;
  border: none;
  color: #808080;
  background-color: transparent;
  box-shadow: none;
}
.work-row .nav-item button:active {
  color: #808080;
}

/*.gridwork {
    @extend %grid;
    .gridwork-item img {
        width: 100%;
    }
    .gridwork-item:hover {
        @extend %transform-hov;
    }
}*/
.gridwork {
  position: relative;
}
.gridwork .gridwork-item {
  position: relative;
  overflow: hidden;
}
.gridwork .gridwork-item img {
  width: 100%;
}
.gridwork .gridwork-item .capa-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 40%;
  color: #eaeaea;
}
.gridwork .gridwork-item .capa-txt h2 {
  font-size: 2rem;
}
.gridwork .gridwork-item .capa-txt p {
  font-size: 18px;
}
.gridwork .gridwork-item .capa-txt:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 800ms;
  z-index: 2;
}
.gridwork .gridwork-item:hover img {
  transform: scale(1.4);
  transition: all 1s;
  z-index: 1;
}

/* Contact home */
.contact-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  margin: 16%;
}
.contact-container .contact-item {
  text-align: left;
}
.contact-container .item-form {
  padding-top: 5%;
}

.h3-text {
  color: #808080;
  font-size: 18px;
}

.p-text {
  font-size: 18px;
  color: #ffffff;
  padding-top: 1%;
}

.contact-item .h1-text {
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
}

/* Form home */
.form .form-row {
  margin: 3% 0 5% 0;
}
.form .form-row input[type=name], .form .form-row input[type=email], .form .form-row input[type=subject], .form .form-row textarea {
  background-color: #fffff;
  border: 0.5px solid rgba(235, 235, 230, 0.87);
  margin: 0.5% 0%;
  font-size: 18px;
  width: 100%;
  padding: 1%;
  border-radius: 3px;
}
.form .form-row input[type=name]::placeholder, .form .form-row input[type=email]::placeholder, .form .form-row input[type=subject]::placeholder, .form .form-row textarea::placeholder {
  color: #191919;
  padding: 1%;
}
.form .form-row button {
  background-color: #ffffff;
  color: #2b2b2b;
  padding: 1% 8%;
  margin: 1% 0 0 1%;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #808080;
}
.form .form-row button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #191919;
}

/* Work Page */
.work-container-2 {
  margin: 5% 0 10% 0;
  background-color: #2b2b2b;
}

.title-work {
  display: none;
}
.title-work .h2-text-2 {
  font-size: 10px;
}

/* wip page */
.wip {
  margin: 10% 0;
}
.wip .year {
  font-size: 18px;
  font-weight: 400;
  padding-top: 2%;
  text-align: end;
}
.wip .date {
  font-size: 18px;
  font-weight: 400;
  padding-top: 2%;
  text-align: end;
  color: #808080;
}
.wip .title {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 2%;
}

.video-description {
  padding-top: 2%;
  font-size: 18px;
  font-weight: 400;
}

.about-container-2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  margin: 10% 16% 20% 16%;
}

.work-mainframe {
  margin: 5% 10% 5% 10%;
}
.work-mainframe .container-intro-sr {
  padding-bottom: 5%;
}
.work-mainframe .container-intro-sr .title-1 h2 {
  font-size: 2.5rem;
}
.work-mainframe .container-intro-sr .service-title {
  padding-top: 5%;
  font-size: 1.2rem;
  font-weight: bolder;
}
.work-mainframe .workdevelop-container {
  padding: 3% 0;
}

.intro-container .intro-left .intro-title .intro-h1 {
  font-size: 34px;
  font-weight: 600;
  color: #ffffff;
}
.intro-container .intro-left .intro-title .intro-h2 {
  font-size: 34px;
  font-weight: 600;
  color: #808080;
}
.intro-container .intro-left .details-work {
  padding-top: 5%;
}
.intro-container .intro-left .details-work .details-1 {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}
.intro-container .intro-left .details-work .details-2 {
  font-size: 10px;
  font-weight: 400;
  color: #808080;
  padding-left: 1%;
}

.logos-container {
  margin: 0% 18% 6% 18%;
}
.logos-container img {
  width: 100%;
}

/* Queries */
/* MEDIA QUERY */
/* home mobile */
@media only screen and (max-width: 679px) {
  .about-container, .about-container {
    display: inline-block;
    justify-content: center;
    align-content: center;
  }
  .about-container .item-description, .about-container .item-description {
    padding-top: 2%;
  }

  .about-container {
    margin-top: 30%;
  }

  .line {
    width: 250px;
  }

  .work-container-2 {
    padding: 20% 0;
  }

  .gridwork {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .wip {
    margin-top: 25%;
  }
  .wip .date {
    text-align: start;
  }
  .wip .year {
    text-align: start;
  }

  .contact-container {
    margin-top: 25%;
    display: inline-block;
    justify-content: center;
    align-content: center;
  }

  .footer-container {
    display: block;
    text-align: center;
    padding: 5%;
    place-content: center;
  }

  .footer-item {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    grid-template-rows: auto;
    place-content: center;
  }
}
/* Table */
@media only screen and (min-width: 680px) and (max-width: 1159px) {
  ul.navbar-nav {
    text-align: right;
  }

  .wip-container .itemwip-1, .wip-container .itemwip-3 {
    display: none;
  }

  .wip .date {
    text-align: start;
  }
  .wip .year {
    text-align: start;
  }

  .line {
    width: 180px;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1160px) and (max-width: 1560px) {
  .line {
    width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
